.DS_Store
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zhistory
zsh/.config/zsh/.zcompcache
zsh/.config/zsh/.zsh_sessions
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompdump-Francescos-MacBook-Pro-5.9
zsh/.config/zsh/.zcompdump-Francescos-MacBook-Pro-5.9.zwc
zsh/.config/zsh/.zcompdump-Francesco’s MacBook Pro (3)-5.9
karabiner/.config/karabiner/automatic_backups
